<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Jumbled Words</title>
    </head>

    <body>
        <div class="container bg-dark p-5">
            <h1 class="text-white text-center">Guess the words!</h1>
        </div>
        <br>
        <form method="post" class="justify-content-center text-center">
            <a class="text-dark" href="/">GO BACK</a>
            {% for jumbledword in jumbledwords %}
                <div class="container bg-light p-2 rounded-2 text-center">
                    <label for="{{jumbledword['_id']}}" class="form-label"><strong>{{jumbledword['word']}}</strong></label>
                    <input name="{{jumbledword['_id']}}" class="form-control" id="{{jumbledword['_id']}}"/>
                </div>
            {% endfor %}
            <button type="submit" name="save_answers" class="btn btn-danger text-light">SUBMIT</button>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>